.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_logo {
        position: relative;
        max-width: 80px;
    }
    &_list {
        position: relative;
        display: flex;
    }
    &_item {
        list-style: none;
        &-link {
            display: inline-block;
            color: $color-white;
            font-weight: 400;
            margin-left: 40px;
            text-decoration: none;
        }
    }
}